# config file for ansible -- http://ansible.com/
# ==============================================
[ansibleinventory]
inventory      = ./.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
roles_path    = ./roles


[defaults]

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
#remote_user = root

# logging is off by default unless this path is defined
# if so defined, consider logrotate
#log_path = /var/log/ansible.log

